<h1>Articles</h1>
<% @articles = Article.all %>
<ul>
    <% @articles.each do |article| %>
      <li>
        Title: <%= article.title %>
        Author: <%= article.author %>
        Body: <%= article.body %>
      </li>     
    <% end %>
</ul>
